[submodule "foundry-novamesh/lib/forge-std"]
	path = foundry-novamesh/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-novamesh/lib/solmate"]
	path = foundry-novamesh/lib/solmate
	url = https://github.com/transmissions11/solmate
