[submodule "foundry-novamesh/lib/forge-std"]
	path = foundry-novamesh/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-novamesh/lib/solmate"]
	path = foundry-novamesh/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "foundry-novamesh/lib/openzeppelin-contracts"]
	path = foundry-novamesh/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "foundry-novamesh/lib/chainlink-brownie-contracts"]
	path = foundry-novamesh/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
